<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to the page of Drumato</title>
    <meta charset='utf-8'>
  </head>
  <body>
    <h1 style="color:red;">About</h1>
    <p>This API explain about Drumato.</p>
    <p>including Twitter,Blog,GitHub/GitLab,Kaggle links</p>
    <p>plz access '/hotness','/info'!</p>
    <p>those urls response JSON format.</p>
  </body>
</html>